{% extends "user_panel/base.html" %}
{% block title %}Solicitar eliminación{% endblock %}

{% block content %}
<div class="card">
<h4>Solicitar eliminación - Informe OS {{ informe.numero_os }}</h4>

<p><strong>Cliente:</strong> {{ informe.cliente }}</p>
<p><strong>Marca:</strong> {{ informe.marca }}</p>
<p><strong>Componente:</strong> {{ informe.componente }}</p>
<p><strong>Fecha:</strong> {{ informe.fecha_creacion|date:"d/m/Y" }}</p>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Justificación</label>
    <textarea class="form-control" name="justificacion" required></textarea>
  </div>

  <button class="btn btn-danger">Enviar Solicitud de Eliminación</button>
  <a href="{% url 'historial' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}